body{ 
width:60%; 
margin:auto;
text-align:justify;
font-size:"14px"
background-color:lightyellow;
}
h1,h2 {
text-align:centre;
}
#mainimage{
width:80%;
height:30%;
margin:auto;
border:green;
border:5px solid black;
}
#mainmenu{
text-align:italic;
background-color:black;
color:White;
margin-top:0px;
padding:10px;
font-weight:italic;
font-size:14px;
}
h3{
text-align:left;
font-size:14px;
}
